*{
    box-sizing: border-box;
    
}
html, body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 100%;
    margin: 20px 80px;
}
h2{
    color: #1B1D2D;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #EABB0A;
    color: #002146;
    font-weight: bolder;
    margin-top: 20px;

}
.clear{
    clear: both;
}
/* HEADER */

.header i{
    background-color: #002146;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: #EABB0A;
    font-size: 15px;
    text-align: center;
    line-height: 23px;
    margin: 10px;
    position: relative;
    bottom: 6px;
}
.header h2{
    margin: 0px;
}
p{
    color: #C8C8C8;
    font-size: 12px;
}



.header ul{
    list-style: none;
    padding: 0px 20px;
    margin: 0px;
}
.header li{
    display: inline;
    margin: 0 15px;
}
.header a{
    text-decoration: none;
    color: #1B1D2D;

}

/* CAROUSEL */
.carousel{
    width: 100%;
    height: 550px;
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-position: top;  
}

/* OUR CAMPUS */
.ourCampus{
    margin-top: 50px;
}
.ourCampus__item__detail{
    float: left;
    width: 33%;
}
.ourCampus__item__detail img{
    width: 100%;
    margin: 0 100px;
}

/* INTRO */
.intro{
    background-color: #F6F6F6;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.intro__item{
    float: left;
    width: 25%;
}
.detail__list{
    float: left;
    width: 50%;
}
.intro__item__detail{
    padding: 50px 0;
    width: 100%;
}
.intro__item p{
    color: #212529;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.detail__list .numb{
    font-size: 55px;
    font-weight: 700;
    margin: 0;
}

.detail__list .intro__title{
    position: relative;
    right: 50%;
    top: 10px;
}

